<div class="row justify-content-center mt-4 pb-4">
  <div class="col-md-12 border border-secondary">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <strong> N° {{actividad.id_actividad}}</strong>
        </div>

        <div class="col">
        
          <strong>{{actividad.titulo}}</strong>
        </div>


        <div class="col" *ngIf="actividad.usuario == undefined ; else elseBlock">
          <strong>...</strong>
        </div>

        <ng-template #elseBlock>
          <div class="col"> <strong>{{actividad.usuario.nombre +" " +actividad.usuario.apellido }}</strong> </div>
        </ng-template>

        <div class="col">
          <span class="badge badge-success"><strong>{{actividad.estado_actividad}}</strong></span>
        </div>
        <div class="col ">
          <span class="border-right-0"></span>
        <ul class="nav nav-pills card-header-pills">
          <li class="nav-item">
            <a class="btn btn-success" href="#" type="button">Ver</a>
            <a class="btn btn-info" href="#" type="button">Editar</a>
            <a class="btn btn-danger" href="#" type="button">Borrar</a>&nbsp;
          </li>
        </ul>
      </div>
      </div>

    </div>
    <div class="card-body">
      <h4 class="card-title">Descripcion</h4>
      <br>
      <hr>
      <p class="card-text"  style="width: 1098px;">
        {{actividad.descripcion}}</p>
    </div>
    <div class="card-footer">
    
      <div class="col-sm-offset-2">
      
        <a class="btn btn-primary" 
        [routerLink]="['Pdf/',actividad.archivo]"   
        target="_blank">pdf</a>

      </div>
    </div>
  </div>
</div>


<!--   <pdf-viewer
        [src]="pdf"
        [render-text]="true"
        [page]="1"
        [show-all] = "false"
        style="display: block; width: 100px;"

      >
        
      </pdf-viewer> -->